
header{
    background-color: rgb(42, 209, 201);
    text-align: center;
    margin: 10px;
    width: 80%;
    height: 80px;
    margin-left: 10%;
    }
h1{
    color: white;
    font-size: 50px;
}
main {
    text-align: center;
    
}
img{
    border-width: 100px;
           height: 100px;
}
.foodimage{
    text-align: center;
}

.box{
    border: 10px;
    border-style: solid ;
    color: aqua;
    width: 150px;
    height: 100px;
    margin-left: 150px;
    
}
.box1{
    border: 10px;
    border-style: dashed;
    color: aqua;
    width: 150px;
    height: 100px;
    margin: 0px  15px;
}
.box2{
    border: 10px;
    border-style: dotted ;
    color: aqua;
    width: 150px;
    height: 100px;
    margin: 0px  15px;
}
.box3{
    border: 4mm ridge rgba(11, 221, 204, 0.6);
    width: 150px;
    height: 100px;
    margin: 0px  15px;
}
.box4{
    
border: solid #5B6DCD 10px;
width: 190px;
    height: 100px;
    margin: 0px  15px;

}
.box5{
    border: 4mm ridge rgba(211, 220, 50, .6);
    width: 150px;
    height: 100px;
    margin: 0px  15px;
}
.box6{
    border:thick double #32a1ce;
    width: 180px;
    height: 100px;
    margin: 0px  15px;
    
}
.food{
    border: 4mm ridge rgba(211, 220, 50, .6);
    text-align: center;
    background-color: rgb(16, 221, 159);
    width: 50%;
    margin-left: 25%;
    border-color: rgb(6, 168, 14) rgba(170, 50, 220, .6) rgb(9, 0, 128) red;
    
}
p:hover {
    color: rgb(120, 25, 209);
  }
h2{
    color: white;
}
h2:hover {
    color: rgb(233, 16, 63);
  }
p{
    color: white;
}
footer{
    background-color: rgb(43, 199, 191);
    text-align: center;
    margin: 10px;
    width: 80%;
    height: 80px;
    margin-left: 10%;
    padding-top: 10px;
    

}
a {
    color:white;
    margin: 0px  15px;
    font-size: xx-large;
    
    }
    a:hover {
        color: rgb(240, 20, 192);
      }